/* Here is your custom css styles. */


.bg-color {
    background-image: linear-gradient(to right, #7a30bf 0%, #007AFF 100%);
}


.text-color {
    color: #007AFF !important;
}


.progress-bar {
    height: 4px;
    position: fixed;
    bottom: 0;
    z-index: 300;
    background: linear-gradient(to right, #7a30bf 0%, #007AFF 100%);
    opacity: 0.8;
}


.top-scroll .btn-floating {
    background: linear-gradient(to bottom right, #3ad8ff 0%, #2a3fff 100%);
    width: 48px;
    height: 48px;
}



blockquote {
    border-left: 5px solid #007AFF;
    padding: 1rem 0.8rem 0.2rem 0.8rem;
    color: #666;
    background-color: rgba(66, 185, 131, .1);
}

article a:hover {
    font-weight: bold;
    color: #007AFF;
    text-decoration: underline;
}

#artDetail .tag_share .article-tag .chip {
    font-size: 1rem;
    font-weight: 400;
    height: 25px;
    line-height: 23px;
    border-radius: 15px;
    margin-right: 5px;
    margin-bottom: 2px;
    color: #007AFF;
    background: #fff;
    border: 1px solid;
    transition: all 0.6s ease-in-out;
}

#artDetail .tag_share .article-tag .chip:hover {
    color: #fff;
    background: #007AFF;
}

#artDetail .post-cate {
    float: right;
    color: #007AFF;
}

#artDetail .post-cate a {
    padding-right: 5px;
    color: #007AFF;
    font-weight: 500;
}

#artDetail .post-info .post-category:hover {
    font-weight: bold;
    color: #007AFF;
    text-decoration: underline;
}



#artDetail .reprint a {
    font-size: 1.05rem;
    color: #007AFF;
    font-weight: 500;
}

#articleContent a {
    padding: 0 2px;
    color: #007AFF;
    font-weight: 500;
    text-decoration: underline;
    word-wrap: break-word;
}

.post-statis .statis .count a {
    color: #007AFF;
}

.search-result-list .search-result-title {
    font-size: 1.4rem;
    color: #007AFF;
}

blockquote {
    border-left: 5px solid #007AFF;
    padding: 1rem 0.8rem 0.2rem 0.8rem;
    color: #666;
    background-color: rgba(66, 185, 131, .1);
}




.chip-container .chip:hover {
    color: #fff;
    background: linear-gradient(to right, #7a30bf 0%, #007AFF 100%) !important;
}




#cd-timeline::before {
    /* this is the vertical line */
    content: '';
    position: absolute;
    top: 0;
    
    height: 100%;
    width: 4px;
    background: #007AFF;
}

#aboutme .social-link a {
    display: inline-block;
    width: 2.3rem;
    height: 2.3rem;
    line-height: 2.2rem;
    margin: 0 0.5rem;
    padding: 0;
    color: #fff;
    border: 1px solid #007AFF;
    background: radial-gradient(#7a30bf, #007AFF);
    font-size: 0.9rem;
    border-radius: 50%;
    box-shadow: 0 4px 6px rgba(50, 50, 93, .21), 0 2px 3px rgba(0, 0, 0, .1);
}

.other-skills .chip:hover {
    color: #fff;
    background: linear-gradient(to right, #7a30bf 0%, #007AFF 100%);
    border: 1px solid #7a30bf;
    box-shadow: 0 5px 5px rgba(0, 0, 0, .25)
}

